body {

	background-color: #d5e1ef;
	font-family: 'Outfit', sans-serif;
}

.box {
	width: 250px;
	height: 390px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	border-radius: 10px;
	background-color: #ffffff;
}
img{
	position: absolute;
	left: 568px;
	top: 110px;
	border-radius: 10px;
}
.titulo {
font-weight: 700;
font-size: 16px;
margin-top:-150px;

text-align: center;
line-height: 7px;
color: hsl(218, 44%, 22%);
}
.descricao {
	font-weight: 400;
	font-size: 12px;
	line-height: 5px;
	color: hsl(220, 15%, 55%);
	text-align: center;
	margin-top: 30px;

}
